html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color: #1C3642;
    line-height-step: 1.2em;
}

td {
    border: 1px solid black;
    margin: auto;
    background-color: #743F40;
}

th {
    border: 1px solid black;
    margin: auto;
    background-color: #1C3642;
}

table {
    border: 1px solid black;
    margin: auto;
    background-color: black;
    width: 75%;
}

a:link {
    color:lightgray;
}

a:visited{
    color:aqua;
}

ul {
    list-style-type: none;
    margin-right:auto;
}

li{
    text-align: center;
    margin:auto;
}

.header {
    font-size: 5em;
    background-color: #1C3642 ;
    text-align: center;
    color:white;
    border-radius: 1em; 
    margin:auto;
}

.entry {
    border-radius: 2em;
    border: 1px groove black;
    background-color: #743F40;
    color:white;
    text-align: center;
    margin:auto;
}

.textEntry {
    width: 90%;
    margin: auto;
    background-color: #743F40;
    color:white;
    margin:auto;
}

.entryTitle {
    text-align: center;
    border-radius: 2em;
    background-color: #1C3642;
    color:white;
}